<!DOCTYPE html>
<html>
  <head>
    <title>WhatSupDoc ? </title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!--load font-->
	<link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<!--load my style sheet-->
	<link rel='stylesheet' href='/stylesheets/style.css'/>

	<!-- material -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-cyan.min.css">
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>
  <body>
    {{> navbar }}
  	<div id = "main-container">
	  	<div id = "inner-container">
	  		<h1 class="title"> WhatsUpDoc? </h1>
		 	<div class="description">
		  		Our platform provides an easy way for doctors to follow up with their pateints on the effectiveness of the prescribed medication and treatment.
		    </div>
		  	<div class="description">
		  		Doctors, register with us today and stay connected with your patients after their visits!
		  	</div>
      <a href="/login"> <button class="button">login</button> </a>
			<a href="/register"> <button class="button">register</button> </a>
			<div class="disclaimer">
		  		If you are not a doctor but you are interested in using our services, ask your doctor to register with us!
		  	</div>
  		</div>
  	</div>
  </body>
</html>
