<!DOCTYPE html>
<html>
  <head>
    <title> Register Patient </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!--load font-->
	<link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!--load my style sheet-->
	<link rel='stylesheet' href='/stylesheets/register-patient.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>

	<!-- material -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-cyan.min.css">
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>
  <body>
  {{> navbar }}
   <div id = "main-page">
     <div id = "title-welcome">
       <h4>New Patient</h4>
       <hr class ="styleline">
    </div>
    <form method="post" action="/register-patient" autocomplete="off">
      <div class = "form-container">
        <h5 class="title"> Personal Information </h5>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="fname" name="firstName">
          <label class="mdl-textfield__label" for="fname">First Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="lname" name="lastName">
          <label class="mdl-textfield__label" for="lname">Last Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="email" name="email">
          <label class="mdl-textfield__label" for="email">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="weight" name="weight">
          <label class="mdl-textfield__label" for="weight">Weight (lb)</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="height" name="height">
          <label class="mdl-textfield__label" for="height">Height (ft) </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="age" name="age">
          <label class="mdl-textfield__label" for="height">Age</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="gender" name="gender">
          <label class="mdl-textfield__label" for="gender">Gender (Male / Female)</label>
        </div>
      </div>
      <hr class ="styleline-long">
      <div class ="form-container">
        <h5 class="title"> Medical Condition </h5>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="condition" name="condition">
          <label class="mdl-textfield__label" for="condition">Condition (i.e. Diabetes)</label>
        </div>
      </div>
      <hr class ="styleline-long">
      <div class = "form-container" id="medication-form"> <br>
        <h5 class = "title" id="medication-title"> Medication </h5>
        <div class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="medication-add" onclick="addMedication();">
          <i class="material-icons">add</i>
        </div>
        <div class = "new-medication">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="med_name" name="med_name">
            <label class="mdl-textfield__label" for="med_name">Name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="dosage" name="dosage">
            <label class="mdl-textfield__label" for="dosage">Dosage (i.e. 250 mg)</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="frequency" name="frequency">
            <label class="mdl-textfield__label" for="frequency">Frequency (i.e. Twice a day)</label>
          </div> <br><br>
          <hr class ="styleline-long">
        </div>
      </div>
      <input class="button" type="submit"></input>
    </form>
   </div>
   <script src="/javascripts/script.js"></script>
   <script>
   $(document).on('focus', 'input', function(){
     $(this).parent().addClass("is-focused");
   });
   $(document).on('blur', 'input', function(){
     $(this).parent().removeClass("is-focused");
     if(this.value) {
       $(this).parent().addClass("is-dirty");
     }
   });
   </script>
  </body>
</html>
