<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- material -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-cyan.min.css">
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

  <!--load my style sheet-->
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/survey-results.css' />

  </head>
  <body>
    {{> navbar }}
    <!-- {{survey}} -->

    <div id="result-container">
      <div id="title">
          Survey Result
      </div>  
      <hr class="styleline"> </hr>
      <div class="questions-container"> 
        {{#each questions}}
            <div class="answers"> 
              {{this.question}} 
              <span class="style-answers"> {{this.answer}} </span>
            </div> 
        {{/each}}
      </div> 
    </div> 
  </body>

</html>
